POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres-password
POSTGRES_HOST=postgres-uri
POSTGRES_PORT=5432
POSTGRES_DATABASE=postrges

NEO4J_URI=neo4j-uri
NEO4J_USERNAME=neo4j-username
NEO4J_PASSWORD=neo4j-password
NEO4J_DATABASE=neo4j-database

OPENAI_API_KEY=sk....