POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres-password
POSTGRES_HOST=postgres-uri
POSTGRES_PORT=5432
POSTGRES_DATABASE=postrges

NEO4J_INSTANCE_NAME=semantic-layer
NEO4J_PASSWORD=neo4j-password
PROJECT_ID=aura-project-id
CLIENT_SECRET=aura-API_key-client-secret
CLIENT_ID=aura-API_key-client-id

OPENAI_API_KEY=sk...